*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;

}
.navbar{
	width: 100%;
	height: 100px;
	background-image:linear-gradient(to top,rgb(0, 92, 95),rgb(0, 52, 61)) ;
	display:flex;
	justify-content:space-around;
	align-items: center;
	color: rgb(255, 255, 255);
	position: static;
}
.logo{
	align-items: center;
	display: flex;
	padding: 2%;

}
.logo h1{
	padding-right: 400px;
}
.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px 20px;
	letter-spacing: 3px;
	font-size: 18px;
	
}

.menu ul li a:hover{
	font-size: 23px;
	overflow: hidden;
	transition: 0.4s;
} 
.body{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.747),rgba(0, 118, 148, 0.5)),url(img1.jpg);
	background-position: center;
	background-size: cover;
}
.heading{
	width: 30%;
	text-align: center;
	color: #fff;
}
.heading h1{
	font-size: 40px;
}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
}
.heading a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
.tours{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.places{
	display: inline;
	text-align: center;
	border-radius: 12px;
}
.places h2{
	color: rgb(255, 248, 149);
	font-size: 35px;
	letter-spacing: 3px;
	border-radius: 1px;
	padding: 40px 40px;
	background-color:rgba(0, 0, 0, 0.5);
	border-radius : 10px;
}
.places a{
	text-decoration: none;
	color: rgb(0, 68, 170);
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
	background-color: rgb(255, 255, 255);
}
.places a:hover{
	color: rgb(197, 0, 43);
	background-color: rgb(255, 233, 134);
	letter-spacing: 3px;
	transition: 0.6s;
}
.footer{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: aliceblue;
}
.footer a{
	text-decoration: none;
	color: rgb(0, 119, 89);
	font-size: 18px;
	font-weight: bold;
}
.footer a:hover{
	color: rgb(214, 52, 52);
	text-decoration:underline;
	transition: 0.4s;
}

.bg{
	background-color: rgba(0, 105, 119, 0.9);
	width: 1310px;
	border: 18px solid rgba(255, 196, 0, 0.678);
	border-radius:18px;
	padding: 50px;
	margin: 20px;
}
.hrimg{
	 width: 350px;
	 border-radius: 12px;
	 overflow: hidden;
	 margin:0 auto;
	
}

.hrimg:hover{
	transform: scale(1.05);
	transition: .2s;
}

.sidebar {
    grid-area: sidebar;
	width: 500px;
  }

  .content {
    grid-area: content;
	
  }

  .header {
    grid-area: header;
	
  }

  .footerx {
    grid-area: footer;
  }


  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas:
    '....... header header'
    'sidebar content content'
    'footer  footer  footer';
    background-color: #fff;
    color: #444;
  }


.box {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.header,
.footerx {
	font-size: 30px;
	color: rgb(255, 247, 179);
	background-color: rgba(255, 136, 136,0);
}
.footerx a{
	text-decoration: none;
	color: rgb(0, 68, 170);
	font-weight: bold;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
	background-color: rgb(255, 255, 255);
}
.footerx a:hover{
	color: rgb(197, 0, 43);
	background-color: rgb(255, 233, 134);
	letter-spacing: 3px;
	transition: 0.6s;
}



